#aboutMe { font-size: 1.2em }
.chooseLang { font-size: 0.9em }
#header ul.navUl li > a { padding-left: 55px }
#header ul.navUl { font-size: 1.2em }
#aside .moral .moralBg { margin-left: 19px }
#aside .moral { left: 59px }


#work ol li dl dd { font-size: 1.2em }
		@media only screen and (max-width: 1000px) {
			#header ul.navUl li > a { padding-left: 45%; width: 55%; }
		}
		
		@media only screen and (max-width: 700px) {
			#work ol li dl dd { font-size: 1em }
		}

		@media only screen and (max-width: 600px) {
			#header ul.navUl li > a { padding-left: 42%; width: 58%; }
			#aboutMe { font-size: 1.15em }
		}

		@media only screen and (max-width: 520px) {
			#header ul.navUl li > a { padding-left: 40%; width: 60%; }
		}
		
		@media only screen and (max-width: 431px) {
			#work ol li dl dt { margin-top: -5px }
		}

		@media only screen and (max-width: 400px) {
			#header ul.navUl li > a { padding-left: 38%; width: 72%; }
		}

		@media only screen and (max-width: 359px) {
			.aboutMeBg { height: 1180px }
		}

