@charset "utf-8";

/* reset */

body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, ul, ol, li, dl, dt, dd, table, caption, tr, td, th, form, fieldset, legend, address, blockquote { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
address, em { font-style: normal; }
fieldset, img { border: 0 none; }
table { border-collapse: collapse; border-spacing: 0px; }
ol, ul, li { list-style: none; }
hr { display: none; }

/* base */

body {
	font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;
	background: #e8e8e8;
	color: #505050;
	font-family: 'Poppins', 'arial', '돋움', Dotum, sans-serif;
	font-weight: 300;
/*	letter-spacing: 0.15em;*/
	font-size: 0.75em;
	/* Keyword values */
text-rendering: auto;
text-rendering: optimizeSpeed;
text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;

/* Global values */
text-rendering: inherit;
text-rendering: initial;
text-rendering: unset;

}

a { color: #000; text-decoration: none; font-weight: 400; transition: 0.3s; -webkit-transition: 0.3s; ms-transition: 0.3s; -moz-transition: 0.3s; }
h1 a, h2 a, h3 a, h4 a { font-weight: 600 }
a:hover { text-decoration: none; transition: 0.3s; -webkit-transition: 0.3s; ms-transition: 0.3s; -moz-transition: 0.3s;}
img, input { vertical-align: top; }
.hidden {
	width: 0px;
	height: 0px;
	line-height: 0px;
	font-size: 0px;

}