.smallerBanner { background-image: url('../imgs/sendBanner.jpg'); background-position: right center; background-color: #000; }

#content .withSideNav { float: right; margin-right: 10% }
#content .withSideNav > h1 { margin: 0 0 70px 0; padding-bottom: 20px; border-bottom: 2px solid #F90D1A; color: #F90D1A; text-align: center }

#content { overflow: hidden }

.mainUl { position: relative; width: 100%; height: 700px; text-align: center }
.subUl { position: absolute; top: 160px; left: 0; text-align: left }

.mainUl > li { display: inline-block; margin: 0 7%; }
.mainUl .letterIcon { margin-left: 0 }
.mainUl .flowerIcon { margin-right: 0 }
.mainUl > li {  }
.mainUl > li > a {  display: inline-block; width: 79px; padding-top: 75px; color: #CACACA; text-align: center; letter-spacing: 0.05em; }
.mainUl .letterIcon > a { background: url('../imgs/letterIcon.jpg') no-repeat; }
.mainUl .parcelIcon > a { background: url('../imgs/parcelsIcon.jpg') no-repeat; }
.mainUl .inviteIcon > a { background: url('../imgs/invitesIcon.jpg') no-repeat; }
.mainUl .flowerIcon > a { background: url('../imgs/flowersIcon.jpg') no-repeat; }
.mainUl > li > a:hover, .mainUl .letterIcon a { background-position: -80px 0; transition: 0s; color: #F90D1A }


.mainUl .subUl > li { float: left; width: 43%; }
.mainUl .subUl { width: 100%; background-color: #F5F5F5 }
.mainUl .subUl { height: 490px; }
.mainUl .subUl > li > h2 { margin-top: 50px; }
.mainUl .subUl > li > p { margin: 20px 0 50px 0; line-height: 23px }
.mainUl .subUl .subLi1 { margin-left: 5%; } 
.mainUl .subUl .subLi2 { margin-right: 5%; float: right }
.mainUl .subUl > li { }
.mainUl .subUl > li > ul > li > a { display: inline-block; width: 94%; height: 40px; background-color: #fff; color: #C9C9C9; line-height: 40px; padding: 0 3%; margin-bottom: 10px } 
.mainUl .subUl > li > ul > li > a:hover { color: #919191 }
.withSideNav .dot { float: right; display: inline-block; width: 10px; height: 10px; margin: 16px 5px 0 0; vertical-align: middle;  background-color: #e3e3e3; border-radius: 50%;  }
.withSideNav .tick { float: right; display: inline-block; width: 40px; height: 40px; margin-right: -3%; background: #e3e3e3 url('../imgs/checked.png') no-repeat center center }
.withSideNav .mainUl .subUl > li > ul > li > a:hover .tick, .withSideNav .mainUl .subUl > li > ul > li > a:hover .dot {  background-color: #F90D1A; transition: 0.3s; }




/* media query */

@media only screen and (max-width: 460px) {
	#wrapper .mainUl .letterIcon > a { background-position: -66px 0 }
}